{% extends "blog/base2.html" %}
{% block content %}
		
		<div>
			{% if messages %}
			{{k}}
			{% endif %}
		</div><br>
		<div>
			{% if sr %}
			{% for k in sr %}
<center><h3>{{k.Name}}</h3></center>
<div class="list-group-item list-group-item-light container media container">
			<table border="0px" width="600px" align="center">

				
				<tr>
					<td ><h5>Summary :</h5><br> {{ k.Summary }}<hr><br></td>
					
				</tr>
				
				<tr>
					<td ><h5>Career Opportunities :</h5><br> {{ k.Career_Opportunities }}<hr><br> </td>
					
				</tr>
				
				<tr>
					<td ><h5>Important Facts :</h5><br> {{ k.Important_Facts }}<hr><br> </td>
					
				</tr>
				
				<tr>
					<td ><h5>Pros and Cons :</h5><br> {{ k.Pros_and_Cons }}<hr><br> </td>
					
				</tr>
				
			</table>
			</div>
			<br>
			{% endfor %}
			{% endif %}
</div>

{% endblock content %}