{% extends "blog/base2.html" %}
{% block content %}

	
<form method="post" action="/search/">
	{% csrf_token %}
		
		
			<input type="text" name="textbox" class="form-control" placeholder="Type here to search">
		
			<button type="submit" value="search" class="btn btn-danger">Search</button>
		
	
			
			
</form>
		
		<div>
			{% if messages %}
			<ul class="messages">
				{% for k in messages %}
				<li style="color:red">{{ k }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div><br>
		<div>
			{% if sr %}
			{% for k in sr %}

			<table border="0px" width="600px">
				<tr>
					<td style="color:red">Title</td>
					<td style="font-size:20px">{{ k.title }}</td>
				</tr>
				<tr>
					<td style="color:red">Content</td>
					<td>{{ k.content }}</td>
				</tr>
				<tr>
					<td style="color:red">Date</td>
					<td>{{ k.Date }}</td>
				</tr>
				<tr>
					<td style="color:red">Author</td>
					<td>{{ k.author }}</td>
				</tr>
				<br><br>
			</table>
			
			{% endfor %}
			{% endif %}
</div>
{% endblock content %}