{% extends 'index/base.html' %}
{% block content %}
<div class="list-group-item list-group-item-light container" style="width:15%;margin-left:15%;background: purple">
          <a class="nav-item nav-link" href="#" style="color:white"><h3 align="center" style="color:white">1.</h3><br>Accurately evaluate your strengths and skills.</a></div>
          <div class="list-group-item list-group-item-light container" style="width:20%;margin-left: 12.5%;margin-top:20px"><p><h5 align="center">Assess your strengths and align them to your career choice</h5 ><br><b>Accurately evaulate yourself</b><br><br>Assess yourself on 5 dimensions and varous parameters through our career assessment.<br><br><b>Find best-fit careers</b><br><br>Get top 3 career recommendations from hundreds of options o find career domains perfect for you.</p></div>

<div class="list-group-item list-group-item-light container" style="width:15%;margin-left:42%;margin-top:-570px;border: 2px solid purple">
          <a class="nav-item nav-link" href="#" style="color:black"><h3 align="center">2.</h3><br>Seek expert career guidance and support.</a></div>
          <div class="list-group-item list-group-item-light container" style="width:20%;margin-left:39.5%;margin-top:20px"><p><h5 align="center">Assess your strengths and align them to your career choice</h5 ><br><b>Accurately evaulate yourself</b><br><br>Assess yourself on 5 dimensions and varous parameters through our career assessment.<br><br><b>Find best-fit careers</b><br><br>Get top 3 career recommendations from hundreds of options o find career domains perfect for you.</p></div>

<div class="list-group-item list-group-item-light container" style="width:15%;margin-left:70%;margin-top:-570px;border: 2px solid purple">          
          <a class="nav-item nav-link" href="#" style="color:black"><h3 align="center">3.</h3><br>Select the perfect next step for your career.</a></div>
          <div class="list-group-item list-group-item-light container" style="width:20%;margin-left: 67%;margin-top:20px"><p><h5 align="center">Assess your strengths and align them to your career choice</h5 ><br><b>Accurately evaulate yourself</b><br><br>Assess yourself on 5 dimensions and varous parameters through our career assessment.<br><br><b>Find best-fit careers</b><br><br>Get top 3 career recommendations from hundreds of options o find career domains perfect for you.</p></div>
<br>
{% if user.is_authenticated %}
 <center><a  href="{% url 'cquiz' %}" class="nav-item nav-link" style="background: purple;border-radius: 2%;border:2px solid purple;width:8%;color: white">Next</a></center>
{% else %}
<center><a  href="{% url 'login' %}" class="nav-item nav-link" style="background: purple;border-radius: 2%;border:2px solid purple;width:8%;color: white">Next</a></center>
{% endif %}
{% endblock content %}