.top-padding {
	margin-top: 10px;
}

.user-message {
	background-color: rgba(0, 67, 255, 0.33);
}

.chat-message {
	background-color: rgba(128, 0, 95, 0.35);
}

.send-btn {
	position: relative;
    top: 12px;
    font-size: 30px;
    color: grey;
    right: 20px;
}

.send-btn:hover {
	color: rgba(0, 128, 0, 0.61);
}

#text-box {
	position: relative  ;
	width: 100%
}

#text-box textarea {
	border: 2px solid;
	width: 100%;
	margin-left: 0px;
}

.navbar {
	background-color: #04F7A2;
	font-size: 40px;
}

.heading {
    background-color: #04F7A2;
    font-size: 30px;
    text-align: center;
 }

#app {
	margin-left: 0px;
	border: 2px solid;
}

#app .card {
	margin-bottom: 5px;
}

#app p {
	margin-bottom: 0px;
} 
